body{
    margin: 0;
    padding: 0;
    
}

#startMenu{
    background-image: url(../images/menu.png);
    background-size:cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#sonicLogo{
    width: 30%;
    height: 40%;
    margin-bottom: 120px;
    
    
    
}

#uList{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right:35px
}

.menuHeader{
    font-size:2.5em;
    color:white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#menu{
    width:15%;
    background-color:gold;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.5px);
    margin-top: 20;
    padding: 0;
    font-family:monospace;
    color:black;
    border-style: groove;
    border-color: black;

}
#but{
    background-color:gold;
    border:none;
    font-size: 0.3em;
    font-weight: bold;
    font-family:monospace;
    margin-left: 33px;
    color:black;
    border-style: groove;
    border-color: black;
}

#but2{
    background-color:gold;
    border:none;
    font-size: 0.3em;
    font-weight: bold;
    font-family:monospace;
    margin-left: 33px;
    color:black;
    border-style: groove;
    border-color: black;
}

#BroughtBy{
    backdrop-filter: blur(1.5px);
}

#game-screen{
    background-image: url(../images/newGreen.jpg);
    background-size:cover;
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    height:100%;
    transform: translate(-50%,-50%);
    display: none;
    margin: 0;
    padding: 0;
}

#select-hero{
    display: none;
    background-image: url(../images/selectHero.jpg);
    background-size:cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;

}


#heroPictures{
    display: flex;
    justify-content: space-around;
}

#hero1{
    height:60vh;
    width:20vw;
    background-image: url(../images/sonicHero.jpg);
    background-size:cover;
    border: solid;
    border-color: white;
}

#hero2{
    height:60vh;
    width:20vw;
    background-image: url(../images/tailsPicture.jpg);
    background-size:cover;
    border: solid;
    border-color: white;
}

#hero3{
    height:60vh;
    width:20vw;
    background-image: url(../images/knuckles.jpg);
    background-size:cover;
    border: solid;
    border-color: white;
}

#selectUser{
    height: 100px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family:fantasy;
    display: flex;
    align-items: center;
    justify-content: center;
}